<!DOCTYPE html>
<html>
<head>
    <meta charset="windows-1252">
    <title>{% block title %}{% trans %}app name{% endtrans %}{% endblock %}</title>
    <script src="{{ asset('js/scripts.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>

    <link rel="stylesheet" href="/css/app.css" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="col-lg-1 col-md-2">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('images/logo-akademie-goettingen.png') }}"/>
        </a>
    </div>
    <a class="navbar-brand" href="/">{% trans %}app name{% endtrans %}</a>
</nav>

<div class="container">
    <div class="main-content">
    {% block body %}

    {% endblock %}
    </div>

    <aside class="sidebar">
        {% block sidebar %}

        {% endblock %}
    </aside>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Kontakt</h3>
                    </div>
                    <div class="card-block">
                        <p>
                            Projektleitung: Prof. Dr. Anja Lobenstein-Reichmann
                            <br>
                            <a href="mailto:anja.lobenstein-reichmann@mail.uni-goettingen.de">anja.lobenstein-reichmann@mail
                                .uni-goettingen.de</a>
                        </p>
                        <p>
                            Allgemeine Anfragen: Angelika Haller-Wolf
                            <br>
                            Tel.: +49 (0)551 / 39-20607 | E-Mail: <a
                                    href="mailto:ahaller@gwdg.de">ahaller@gwdg.de</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Anschrift</h3>
                    </div>
                    <div class="card-block">
                        <p>
                            Frühneuhochdeutsches Wörterbuch
                            <br>
                            Forschungsstelle der Akademie der Wissenschaften zu Göttingen
                            <br>
                            Johann-Friedrich-Blumenbach-Institut
                            <br>
                            Berliner Straße 28 | D-37073 Göttingen
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</footer>
</body>
</html>
