@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic');

$font-family-sans-serif: 'Open Sans', sans-serif;
$brand-primary: #c90230;
$highlight-color: #fff200;

$enable-flex: false;
$navbar-default-bg: $brand-primary;
$navbar-default-color: #fff;
$navbar-default-link-color: $navbar-default-color;
$background-texture: url('../images/body-bg.png');
$topbar-height: 55px;


@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import 'jquery-ui';

body {
	background: $background-texture;
	padding-top: 5em;
}

.navbar-fixed-top {
	background-color: $navbar-default-bg;
	height: $topbar-height;

	a {
		color: $navbar-default-color;
	}
}

.navbar-brand img {
	border-radius: 80px;
	background: $background-texture;
	width: $topbar-height;
	margin-top: -13px;
}

.footer {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
 }

.main-content {
	@include make-row();
}

.italic {
	font-style: italic;
}

.neblem {
	font-weight: bold;
}

.type-of-word,
.flex {
	@extend .italic;
}

.article {
	@extend .col-md-9;
}

.sidebar {
	@extend .col-md-3;

	.results {
		@extend .card-block;

		h1 {
			@extend .card-title;

			font-size: $font-size-base;
			font-weight: bold;
		}

		.result-list {
			padding-left: 0;
			list-style: none;

			.result-link {
				font-weight: normal;

				&.active {
					font-weight: bold;
				}
			}
		}
	}
}

.citations-begin,
.lemma,
.synt-begin,
.bls-begin,
.bdv-begin,
.wbg-begin,
.ggs-begin,
.stw-begin,
.phras-begin {
	@extend .card-title;

	font-weight: bold;
}

.lemma {
	@extend h2;

	display: inline-block;
}

.article_head {
	display: inline-block;
}

.name {
	font-variant: small-caps;
}

.citation,
.bdv,
.synt {
	text-indent: -1em;
	margin-left: 1em;

	.quote {
		font-style: italic;
	}
}

.higher-and-smaller {
	vertical-align: super;
	font-size: .7em;
	margin-right: -.25em;
}

.synt,
.citations,
.bls,
.bdv,
.wbg,
.ggs,
.stw,
.phras,
.dict-ref,
.subvoce {
	@extend .card-block;
}

.sense {
	@extend .card;

	.definition {
		@extend .card-header;

		border-left: .25em solid $brand-primary;
		padding-left: .5em;
		color: $gray-dark;
	}
}

.last-search {
	display: inline-block;

	ol {
		margin-left: .25em;
		padding-left: 0;

		li {
			display: inline-block;
			margin-right: 1em;
		}
	}
}

ul {
	&.pagination {
		li {
			@extend .page-item;
			display: inline-block;

			a,
			span {
				@extend .page-link;
			}
		}
	}
}

.main-content {
	.result-list {
		@extend .col-md-9;

		em {
			display: inline-block;
			box-shadow: inset -3px 2px 16px 0 $highlight-color;
		}

		.result-link {
			font-weight: bold;
		}

		.result-item {
			margin-bottom: 1em;
		}
	}
}

.facet {
	.facet-title {
		font-size: $font-size-base;
		font-weight: bold;
	}

	.facet-list {
		list-style-type: none;
	}
}
