{% extends 'base.html.twig' %}

{% block body %}
    <script>
        $(document).ready(function () {

            var lastSearches = JSON.parse(localStorage.getItem('search'));

            if (!lastSearches) {
                lastSearches = [];
            }

            lastSearches.reverse();
            var lastSearchesInfo = '<ol>';

            $(lastSearches).each(function (id, text) {
                lastSearchesInfo += '<li><a href="/search?q=' + text + '">' + text + '</a></li>';
            });

            $('.last-search').html(lastSearchesInfo);
        });
    </script>

    {{ form_start(searchForm, { 'attr': {'class': 'form-inline'} }) }}
    <div class="form-group">
        <div class="search-widget">
            {{ form_widget(searchForm) }}
        </div>
    </div>
    {{ form_end(searchForm) }}

    <p>{% trans %}your last searchterms{% endtrans %}:
        <span class="last-search"></span>
    </p>
{% endblock %}
